.app{
    background-color: #0D0D0E;
}


.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color: #d1fd0a;
}

.ant-tabs .ant-tabs-tab:hover {
    color: #d1fd0a;
}
   
.ant-tabs-top >.ant-tabs-nav::before, .ant-tabs-bottom >.ant-tabs-nav::before, .ant-tabs-top >div>.ant-tabs-nav::before, .ant-tabs-bottom >div>.ant-tabs-nav::before {
    position: absolute;
    right: 0;
    left: 0;
    border-bottom: 1px solid grey;
    content: '';
}

.ant-tabs-ink-bar{
    background-color: #d1fd0a;
}


/* .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: @yellow;
    text-shadow: 0 0 0.25px currentcolor;
  }
  
  .ant-tabs .ant-tabs-tab-btn {
    outline: none;
    color: @white;
    transition: all 0.3s;
  }
  
  .ant-tabs .ant-tabs-ink-bar {
    position: absolute;
    background: @yellow;
    pointer-events: none;
  } */